* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* Showcase */
.showcase,
.biodata,
.hobi,
.kontak {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  background-color: #111;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
  flex-wrap: wrap;
  flex-direction: row;
}

.showcase,
.hobi {
  justify-content: space-between;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.menu {
  float: right;
  flex-wrap: wrap;
  flex-direction: row;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
}

.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn img,
.hide-menu-btn {
  z-index: 10;
  width: 20px;
  filter: invert(1);
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  text-decoration: underline;
}

.menu a:nth-child(2),
.menu a:nth-child(3),
.menu a:nth-child(4),
.menu a:nth-child(5) {
  padding-left: 32px;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.showcase .background-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.showcase .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
}

.showcase .text {
  position: relative;
  z-index: 10;
}

.showcase .text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
}

.showcase .text h2 span,
.showcase .text h3 span {
  text-decoration: underline;
  color: #acffad;
  text-transform: uppercase;
}

.showcase .text h3 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  margin-top: 24px;
}

.showcase .text a {
  display: inline-block;
  font-size: 1.1em;
  background: #acffad;
  padding: 14px 30px;
  text-decoration: none;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
  margin-top: 48px;
  border-radius: 42px;
  font-weight: 500;
}

.showcase .text a:hover {
  letter-spacing: 6px;
}

.showcase .profile {
  z-index: 10;
  display: flex;
  justify-content: end;
}

.showcase .profile img {
  width: 80%;
  border-radius: 50%;
  border: 14px solid #acffad;
}

/* Biodata */
.biodata {
  justify-content: center;
}

.biodata .background-biodata {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.biodata .overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #174d2f;
  mix-blend-mode: overlay;
}

.biodata .text {
  position: relative;
  padding: 40px;
  z-index: 10;
  width: 70%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.2);
}

.biodata .text .input-grup {
  display: flex;
  justify-content: space-between;
}

.biodata .text .input-grup:nth-child(2),
.biodata .text .input-grup:nth-child(3),
.biodata .text .input-grup:nth-child(4) {
  padding-top: 32px;
}

.biodata .text h4 {
  font-size: 3em;
  font-weight: 800;
  line-height: 1em;
}

.biodata .text .input-grup .kiri {
  display: flex;
  justify-content: start;
}

.biodata .text .input-grup .kanan {
  display: flex;
  justify-content: end;
}

.biodata .text .input-grup .kiri {
  width: 100%;
}

.biodata .text .input-grup .kanan {
  width: 100%;
  color: #acffad;
}

/* Hobi */
.hobi {
  justify-content: space-between;
  padding-left: 300px;
  padding-right: 300px;
}

.hobi .background-hobi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.hobi .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #043f1a;
  mix-blend-mode: overlay;
}

.hobi .card-hobi {
  width: 25%;
  padding: 10px;
  position: relative;
  z-index: 10;
  border: 4px solid #fff;
}

.hobi .card-hobi .top {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.hobi .card-hobi .top img {
  height: 100px;
  filter: invert(1);
}

.hobi .card-hobi p {
  padding: 20px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  color: #111;
  font-weight: 500;
  background-color: #fff;
}

/* scroll to top */

/* Breakpoint */
@media screen and (max-width: 800px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a {
    display: block;
    padding: 20px;
  }

  .menu a:nth-child(2),
  .menu a:nth-child(3),
  .menu a:nth-child(4),
  .menu a:nth-child(5) {
    padding-left: 0;
  }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu {
    right: 0;
  }
}
