<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas 12 Ajax Axios</title>
    <style>
      .container {
        max-width: 1000px;
        margin: 0 auto;
      }

      form {
        background: rgb(16, 133, 201);
        display: grid;
      }

      form,
      table {
        width: 100%;
      }

      form .form-group {
        padding: 20px;
        display: flex;
        justify-content: space-between;
      }

      form .form-group label {
        width: 50%;
        font-weight: 700;
        color: white;
      }

      form .form-group input {
        width: 50%;
        font-weight: 500;
        padding: 8px;
        outline: none;
      }

      form input[type="file"] {
        width: 100%;
        font-weight: 500;
        margin: 10px 0;
        padding: 10px 0;
        outline: none;
        background-color: rgb(0, 167, 0);
      }

      form div button {
        width: 100%;
        padding: 10px;
        font-weight: 800;
        background-color: rgb(21, 190, 35);
        color: white;
        text-transform: uppercase;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <form @submit.prevent="submitForm()">
          <div v-if="errors.length">
            <b>Kesalahan :</b>
            <ul>
              <li v-for="error in errors">{{ error }}</li>
            </ul>
          </div>

          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              v-model="name"
              ref="name"
              :disabled="buttonStatus == 'upload'"
              placeholder="Input Name"
            />
            <span v-if="errors.name">{{ error}}</span>
          </div>
          <div class="form-group">
            <label>Address</label>
            <input
              type="text"
              v-model="address"
              ref="address"
              :disabled="buttonStatus == 'upload'"
              placeholder="Input Address"
            />
          </div>
          <div class="form-group">
            <label>No Hp</label>
            <input
              type="number"
              v-model="no_hp"
              ref="no_hp"
              :disabled="buttonStatus == 'upload'"
              placeholder="Input No Hp"
            />
          </div>
          <div v-if="buttonStatus == 'submit'">
            <button type="submit">Submit</button>
          </div>
          <div v-else-if="buttonStatus == 'update'">
            <button type="button" @click="updateMember(idMember)">
              update
            </button>
            <button type="button" @click="clearForm" style="margin-top: 10px">
              cancel
            </button>
          </div>
          <div v-else-if="buttonStatus == 'upload'">
            <input type="file" ref="photo_profile" name="photo_profile" />
            <button type="button" @click="submitPhoto(idUploadPhoto)">
              upload
            </button>
            <button type="button" @click="clearForm" style="margin-top: 10px">
              cancel
            </button>
          </div>
        </form>
        <br /><br />
        <table border="1">
          <thead>
            <tr>
              <th>No</th>
              <th>Photo Profile</th>
              <th>Name</th>
              <th>Address</th>
              <th>No Hp</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(member, index) in members" :key="index">
              <td>{{ index + 1 }}</td>
              <td>
                <img
                  width="100"
                  :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://placehold.co/100x100'"
                  alt=""
                />
              </td>
              <td>{{ member.name }}</td>
              <td>{{ member.address }}</td>
              <td>{{ member.no_hp }}</td>
              <td>
                <button @click="editMember(member)">Edit</button>
                <button @click="removeMember(member.id)">Hapus</button>
                <button @click="uploadPhoto(member)">Upload Photo</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          name: "",
          address: "",
          no_hp: "",
          members: [],
          errors: [],
          photoDomain: "http://demo-api-vue.sanbercloud.com",
          buttonStatus: "submit",
          idMember: null,
          idUploadPhoto: null,
        },
        methods: {
          clearForm: function () {
            this.name = "";
            this.address = "";
            this.no_hp = "";
            this.idMember = null;
            this.idUploadPhoto = null;
            this.buttonStatus = "submit";
          },
          validationForm: function () {
            this.errors = [];

            if (this.name.length < 2) {
              this.errors.push("Nama minimal 2 karakter");
              this.$refs.name.focus();
            }

            if (this.address === "") {
              this.errors.push("Alamat harus diisi");
              this.$refs.address.focus();
            }

            if (this.no_hp === "") {
              this.errors.push("No Hp harus diisi");
              this.$refs.no_hp.focus();
            }
            if (this.no_hp.length >= 13) {
              this.errors.push("No Hp maksimal 13 karakter");
              this.$refs.no_hp.focus();
            }
          },

          submitForm: function () {
            this.validationForm();

            if (this.errors.length === 0) {
              let formData = new FormData();

              formData.append("name", this.name);
              formData.append("address", this.address);
              formData.append("no_hp", this.no_hp);

              const config = {
                method: "POST",
                url: "http://demo-api-vue.sanbercloud.com/api/member",
                data: formData,
              };

              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getMembers();
                  alert(response.data.message);
                })
                .catch((err) => {
                  console.log(err);
                });
            }
          },

          getMembers: function () {
            const config = {
              method: "GET",
              url: "http://demo-api-vue.sanbercloud.com/api/member",
            };

            axios(config)
              .then((response) => {
                this.members = response.data.members;
              })
              .catch((err) => {
                console.log(err);
              });
          },

          removeMember: function (member) {
            const config = {
              method: "POST",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${member}`,
              params: { _method: "DELETE" },
            };

            axios(config)
              .then((response) => {
                this.getMembers();
                alert(response.data.message);
              })
              .catch((err) => {
                console.log(err);
              });
          },

          editMember: function (member) {
            this.name = member.name;
            this.address = member.address;
            this.no_hp = member.no_hp;
            this.buttonStatus = "update";
            this.idMember = member.id;
          },

          updateMember: function (idMember) {
            this.validationForm();

            if (this.errors.length === 0) {
              let formData = new FormData();
              formData.append("name", this.name);
              formData.append("address", this.address);
              formData.append("no_hp", this.no_hp);

              let config = {
                method: "POST",
                url: `http://demo-api-vue.sanbercloud.com/api/member/${idMember}`,
                params: { _method: "PUT" },
                data: formData,
              };

              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getMembers();
                  alert(response.data.message);
                })
                .catch((err) => {
                  console.log(err);
                });
            }
          },

          uploadPhoto: function (member) {
            this.name = member.name;
            this.address = member.address;
            this.no_hp = member.no_hp;
            this.buttonStatus = "upload";
            this.idUploadPhoto = member.id;
          },

          submitPhoto: function (idUploadPhoto) {
            let file = this.$refs.photo_profile.files[0];

            let formData = new FormData();
            formData.append("photo_profile", file);

            const config = {
              method: "POST",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${idUploadPhoto}/upload-photo-profile`,
              data: formData,
            };

            axios(config)
              .then((response) => {
                this.clearForm();
                this.getMembers();
                alert(response.data.message);
              })
              .catch((err) => {
                console.log(err);
              });
          },
        },
        created() {
          this.getMembers();
        },
      });
    </script>
  </body>
</html>
