<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz 2</title>
    <style>
      li {
        margin-top: 20px;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <form>
        <input type="text" v-model="name" />
        <button @click="tambahNama">{{ btn }}</button>
      </form>
      <ul>
        <li v-for="(user, index) in users">
          {{ user.name }}
          <button @click="editNama(user.name, index)">Edit</button> ||
          <button v-on:click="hapusNama(index)">Delete</button>
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          name: "",
          updateNama: "",
          users: [
            { name: "Muhammad Iqbal Mubarok" },
            { name: "Ruby Purwanti" },
            { name: "Faqih Muhammad" },
          ],
          btn: "Tambah",
        },
        methods: {
          tambahNama: function (a) {
            if (this.btn == "Tambah") {
              if (this.name !== "") {
                this.users.push({ name: this.name });
              }
            } else if (this.btn == "Update") {
              this.users[this.updateNama].name = this.name;
              this.btn = "Tambah";
            }
            this.name = "";
            a.preventDefault();
          },
          editNama: function (user, index) {
            this.name = user;
            this.btn = "Update";
            this.updateNama = index;
          },
          hapusNama: function (index) {
            if (confirm("anda yakin?") === true) {
              this.users.splice(index, 1);
            }
          },
        },
      });
    </script>
  </body>
</html>
