<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas 9 Dan 10 Form Input Binding</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="kataKunci" placeholder="Ketikan kata kunci" />
      <ul>
        <li v-for="book in cariBuku">{{ book }}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          kataKunci: "",
          books: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linear Elementer",
            "Aljabar Abstrak",
            "Algoritma Pemrograman",
          ],
        },
        computed: {
          cariBuku: function () {
            if (this.kataKunci) {
              return this.books.filter((book) => {
                return this.kataKunci
                  .toLowerCase()
                  .split(" ")
                  .every((cek) => book.toLowerCase().includes(cek));
              });
            } else {
              return this.books;
            }
          },
        },
      });
    </script>
  </body>
</html>
